/* Reset */
a {
    text-decoration: none;
}
/* my style */
.-ls-debug {
    border: 1px solid red;
}
.-ls-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
/* general */
:root {
    --color-ls-hero-bg: #1b72e8;
    --color-ls-sidebar-bg: #051e34;
}

nav { 
    height: 60px;
}
main {
    width: calc(100% - 200px);
    padding-top: 60px;
    overflow-y: auto;
    height: 100%;
}
#sidebar {
    width: 200px;
    height: 100%;
    padding-top: 60px;
    background-color: var(--color-ls-sidebar-bg);
    background-image: url(../img/sidebar-bg.png);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#blue-hero {
    background-color: #1B72E8
}
.graph-link {
    text-decoration: underline;
}