/* Reset */
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
h1 {
    display: inline-block;
}
/* my style */
.-ls-debug {
    border: 1px solid red;
}
.-ls-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.-ls-number {
    font-size: 2em;
}
.-ls-badge-bg {
    background-color: var(--color-badge-hero);
    border-radius: 20px;
    font-size: .7em;
    font-weight: 300;
}
.-ls-badge-bg:hover {
    cursor: pointer;
    background-color: #165aba8c;
}
#badge-plus {
        display: none;
}
/* general */
:root {
    --color-ls-hero-bg: #1b72e8;
    --color-ls-sidebar-bg: #051e34;
    --color-badge-hero: #165bba;
}
body {
    font-family: "Roboto", sans-serif;
}
nav { 
    height: 60px;
}
#logo-small {
    width: 50px;
    display: none;
}
main {
    width: calc(100% - 150px);
    padding-top: 60px;
}
#sidebar {
    width: 150px;
    height: 100%;
    padding-top: 60px;
    background-color: var(--color-ls-sidebar-bg);
    background-image: url(../img/sidebar-bg.png);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#sidebar ul>li {
    padding-left: 5px;
    max-width: 85px;
    text-align: center;
}
#sidebar ul>li:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.411);
}
#bottom-sidebar {
    align-self: center;
    max-width: 80px;
    cursor: pointer;
    padding: 5px;
}
#bottom-sidebar:hover {
    background-color: rgba(255, 255, 255, 0.411);
}
#blue-hero {
    background-color: #1B72E8
}
.offcanvas.offcanvas-end {
    width: 50%;
}

.graph-link {
    text-decoration: underline;
}
.data-width {
    min-width: 105px;
}
/* media query */
@media screen and (max-width:576px) {
    .list-none {
        display: none;
    }
}
@media screen and (max-width:768px) {
    main {
        width: 100%;
    }
    ul {
        padding: 0;
    }
    #logo-small {
        display: block;
    }
    #logo-big {
        display: none;
    }
    #sidebar {
        width: 72px;
    }
    #sidebar span {
        display: none;
    }
    #blue-hero div{
        min-width: 270px;
    }
    #nav-icon>*:not(:last-child){
        display: none;
    }
    .badge-none {
        display: none;
    }
    #badge-plus {
        display: inline-block;
    }
    #ls-blue-1 {
        order: 1;
    }
    #ls-blue-2 {
        order: 2;
    }
    .offcanvas.offcanvas-end {
        width: 100%;
    }
}